{% extends "base.html" %}

{% block content %}

<h1>{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}</h1>

<h1>{{ alerte }}</h1>  
 
{% if section == 1 %}
    <img class='img_section' src="{{ url_for('static', filename='images/becare.png') }}" alt="becare">
{% elif section == 2 %}
    <img class='img_section' src="{{ url_for('static', filename='images/begreen.png') }}" alt="begreen">
{% elif section == 3 %}
    <img class='img_section' src="{{ url_for('static', filename='images/beweb.png') }}" alt="beweb">
{% else %}
    <img class='img_section' src="{{ url_for('static', filename='images/bepro.png') }}" alt="bepro">
{% endif %}

{% include "navbar.html" %}

{% endblock %}