{% extends "base.html" %}

{% block content %}
<script>
    function showForm() {
        let selectValue = document.getElementById("userType").value;

        // Masquer tous les formulaires
        document.getElementById("adminForm").style.display = "none";
        document.getElementById("formateurForm").style.display = "none";
        document.getElementById("apprenantForm").style.display = "none";
        document.getElementById("salarieForm").style.display = "none";

        // Afficher le formulaire correspondant à l'option sélectionnée
        if (selectValue === "administrateur") {
            document.getElementById("adminForm").style.display = "block";
        } else if (selectValue === "formateur") {
            document.getElementById("formateurForm").style.display = "block";
        } else if (selectValue === "apprenant") {
            document.getElementById("apprenantForm").style.display = "block";
        } else if (selectValue === "salarie") {
            document.getElementById("salarieForm").style.display = "block";
        }
    }
</script>
{% include "navbar.html" %}
<h1 class="admin_title">NOUVEL UTILISATEUR</h1>
<div class="form-group">
    <label for="userType">Choisissez le role utilisateur :</label>
    <select name="userType" class="form-control" id="userType" onchange="showForm()">
        <option value="" selected disabled>Choisissez un rôle</option>
        <option value="administrateur">Administrateur</option>
        <option value="formateur">Formateur</option>
        <option value="apprenant">Apprenant</option>
        <option value="salarie">Salarié</option>
    </select>
</div>
<form id="adminForm" style="display: none;" action = "http://localhost:5000/creaAdmin" method = "POST">
    <div class="form-group">
        <input type="hidden" name="role" value="administrateur">
    </div>
    <div class="form-group">
        <label for="firstName">Prenom</label>
        <input type="text" class="form-control" id="firstNameId" name="firstName" aria-describedby="firstNameHelp" placeholder="James" value="james">
        <small id="firstNameHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" class="form-control" id="lastNameId" name="lastName" aria-describedby="lastNameHelp" placeholder="Dean" value="dean">
        <small id="lastNameHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudoId" name="pseudo" aria-describedby="pseudoHelp" placeholder="jami" value="jami">
        <small id="pseudoHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" id="emailAddressId" name="emailAddress" aria-describedby="emailAddressHelp" placeholder="jdean@example.com" value="jdean@example.com">
        <small id="emailAddressHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" class="form-control" id="telephone" name="telephone" aria-describedby="telephoneHelp" placeholder="0601020304" value="0603020100">
        <small id="telephoneHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="james2023" value="james2023">
        <small id="telephoneHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="section">Section</label>
        <select name="section" class="form-control" id="section">
            <option value="" selected disabled>Choisissez une section</option>
            <option value="1">BeCare</option>
            <option value="2">BeGreen</option>
            <option value="3">Beweb</option>
            <option value="4">BePro</option>
        </select>
    </div>
    <div>
        <label for="formateur">Formateur ?</label>
        <select name="formateur" class="form-control" id="formateur">
            <option value="" selected disabled>Cet administrateur est aussi formateur ?</option>
            <option value="y">oui</option>
            <option value="n">non</option>
        </select>
    </div><br>
    <div class="optnav">
        <button type="button" class="btn navbtn" onclick="window.location.href='/accueil'">Retour</button>
        <button type="submit" class="btn navbtn">Valider</button>
    </div>
</form>

<form id="formateurForm" style="display: none;" action = "http://localhost:5000/creaFormateur" method = "POST">
    <div class="form-group">
        <input type="hidden" name="role" value="formateur">
    </div>
    <div class="form-group">
        <label for="firstName">Prenom</label>
        <input type="text" class="form-control" name="firstName" aria-describedby="firstNameHelp" placeholder="Jack" value="Jack">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" class="form-control" name="lastName" aria-describedby="lastNameHelp" placeholder="Sparow" value="Sparow">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" name="pseudo" aria-describedby="pseudoHelp" placeholder="jacki" value="Jacki">
        <small id="pseudoHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" name="emailAddress" aria-describedby="emailAddressHelp" placeholder="jSparow@example.com" value="jSparow@example.com">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" class="form-control" name="telephone" aria-describedby="telephoneHelp" placeholder="0601020305" value="0603020105">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="james2023" value="james2023">
        <small id="telephoneHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="section">Section</label>
        <select name="section" class="form-control">
            <option value="" selected disabled>Choisissez une section</option>
            <option value="1">BeCare</option>
            <option value="2">BeGreen</option>
            <option value="3">Beweb</option>
            <option value="4">BePro</option>
        </select>
    </div><br>
	<div class="optnav">
        <button type="button" class="btn navbtn" onclick="window.location.href='/accueil'">Retour</button>
        <button type="submit" class="btn navbtn">Valider</button>
    </div>
</form>

<form id="apprenantForm" style="display: none;" action = "http://localhost:5000/creaApprenant" method = "POST">
    <div class="form-group">
        <input type="hidden" name="role" value="apprenant">
    </div>
    <div class="form-group">
        <label for="firstName">Prenom</label>
        <input type="text" class="form-control" name="firstName" aria-describedby="firstNameHelp" placeholder="bob" value="Bob">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" class="form-control" name="lastName" aria-describedby="lastNameHelp" placeholder="L'Eponge" value="L'Eponge">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" name="pseudo" aria-describedby="pseudoHelp" placeholder="Bobi" value="Bobi">
        <small id="pseudoHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="address">Addresse</label>
        <input type="text" class="form-control" name="adresse" aria-describedby="addressHelp" placeholder="28 rue du python 34000 montpellier" value="28 rue du python 34000 montpellier">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="rib">Rib</label>
        <input type="text" class="form-control" name="rib" aria-describedby="ribHelp" placeholder="541570215094252" value="541570215094252">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="secu">N° Secu</label>
        <input type="text" class="form-control" name="secu" aria-describedby="secuHelp" placeholder="d2742953-48d2-3" value="d2742953-48d2-3">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" name="emailAddress" aria-describedby="emailAddressHelp" placeholder="sponge@example.com" value="sponge@example.com">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" class="form-control" name="telephone" aria-describedby="telephoneHelp" placeholder="0601020310" value="0603020110">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="james2023" value="james2023">
        <small id="telephoneHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="formation">Formation</label>
        <select name="formation" class="form-control">
            <option value="" selected disabled>Dans quelle formation est cet apprenant ?</option>
            <option value="1">User-friendly zerodefect synergy
            </option>
            <option value="2">De-engineered neutral array</option>
        </select>
    </div>
    <div class="form-group">
        <label for="section">Section</label>
        <select name="section" class="form-control">
            <option value="" selected disabled>Choisissez une section</option>
            <option value="1">BeCare</option>
            <option value="2">BeGreen</option>
            <option value="3">Beweb</option>
            <option value="4">BePro</option>
        </select>
    </div><br>
	<div class="optnav">
        <button type="button" class="btn navbtn" onclick="window.location.href='/accueil'">Retour</button>
        <button type="submit" class="btn navbtn">Valider</button>
    </div>
</form>

<form id="salarieForm" style="display: none;" action = "http://localhost:5000/creaSalarie" method = "POST">
    <div class="form-group">
        <input type="hidden" name="role" value="salarie">
    </div>
    <div class="form-group">
        <label for="firstName">Prenom</label>
        <input type="text" class="form-control" name="firstName" aria-describedby="firstNameHelp" placeholder="Bart" value="Bart">
        <small class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" class="form-control" name="lastName" aria-describedby="lastNameHelp" placeholder="Simpson" value="Simpson">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" name="pseudo" aria-describedby="pseudoHelp" placeholder="BS" value="BS">
        <small id="pseudoHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" name="emailAddress" aria-describedby="emailAddressHelp" placeholder="bsimp@example.com" value="bsimp@example.com">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" class="form-control" name="telephone" aria-describedby="telephoneHelp" placeholder="0601020315" value="0603020115">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="james2023" value="james2023">
        <small id="telephoneHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="section">Section</label>
        <select name="section" class="form-control">
            <option value="" selected disabled>Choisissez une section</option>
            <option value="1">BeCare</option>
            <option value="2">BeGreen</option>
            <option value="3">Beweb</option>
            <option value="4">BePro</option>
        </select>
    </div><br>
	<div class="optnav">
        <button type="button" class="btn navbtn" onclick="window.location.href='/accueil'">Retour</button>
        <button type="submit" class="btn navbtn">Valider</button>
    </div>
</form>

{% endblock %}