{% extends "base.html" %}

{% block content %}
<html>
<head>
<title>Création d'une évaluation</title>
</head>
<body>
<button type="button" class="btn navbtn" onclick="window.location.href='/evaluations'">Retour</button>

{% if message %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}

<form action="/createEvaluations" method="POST">
    <div class="form-group">
        <label for="titreEvaluation">Titre :</label>
        <input type="text" class="form-control" id="titreEvaluation" name="titreEvaluation" value="eval test">
    </div>
    <div class="form-group">
        <label for="dateEvaluation">Date d'évaluation :</label>
        <input type="date" class="form-control" id="dateEvaluation" name="dateEvaluation">
    </div>
    <div class="form-group">
        <label for="coeffItem">Coefficient des items :</label>
        <input type="number" class="form-control" id="coeffItem" name="coeffItem" value="2">
    </div>
    <div class="form-group">
        <label for="coeffEval">Coefficient de l'évaluation :</label>
        <input type="number" class="form-control" id="coeffEval" name="coeffEval" value="2">
    </div>
    <div class="form-group">
        <label for="noteEval">Note de l'évaluation :</label>
        <input type="number" class="form-control" id="noteEval" name="noteEval" value="2">
    </div>
    <div class="form-group">
        <label for="noteItem">Note des items :</label>
        <input type="number" class="form-control" id="noteItem" name="noteItem" value="2">
    </div>

    <div class="form-group">
        <label for="id_formation_FK">ID du formateur :</label>
        <input type="number" class="form-control" id="id_formation_FK" name="id_formation_FK" value="3">
    </div>

    <title>Compétences</title>
    <script type="text/javascript">
        function createList(tableId) {
            const table = document.getElementById(tableId);
            const checkboxes = table.querySelectorAll('input[type="checkbox"]');
            const selectedItems = [];
        
            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    const row = checkbox.parentNode.parentNode;
                    const id = row.cells[0].textContent; // Récupérer l'ID de l'item
                    selectedItems.push(id); // Ajouter l'ID à la liste des items sélectionnés
                }
            });
        
            const listId = tableId + "-list";
            const listContainer = document.getElementById(listId);
            listContainer.innerHTML = ""; // Réinitialiser la liste à chaque appel
        
            selectedItems.forEach(function(id) {
                const listItem = document.createElement("li");
                listItem.textContent = id; // Afficher l'ID de l'item
                listContainer.appendChild(listItem);
            });
            // Mettre à jour la valeur de l'input hidden avec les IDs des items sélectionnés
            const selectedItemsInput = document.getElementById("selected-items-input");
            selectedItemsInput.value = JSON.stringify(selectedItems); // Stocker les ID sous forme de liste JSON
        }
        function toggleTable(tableId) {
            const table = document.getElementById(tableId);
            table.style.display = table.style.display === "none" ? "block" : "none";
        }

        function searchTable() {
            const input = document.getElementById("search-input").value.toLowerCase();
            const tableRows = document.querySelectorAll("#items-table tbody tr,");

            tableRows.forEach(function(row) {
                const text = row.textContent.toLowerCase();
                if (text.includes(input)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        }
    </script>
        <h1>Liste des items <button type="button" class="btn btn-primary" onclick="toggleTable('items-table')">Cacher/Montrer</button></h1>
        <table id="items-table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Sélectionner</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id}}</td>
                    <td>{{ item.titre }}</td>
                    <td>{{ item.contenu }}</td>
                    <td><input type="checkbox" onchange="createList('items-table')" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <input type="hidden" name="items" id="selected-items-input">
    <button type="submit" class="btn btn-primary">Envoyer</button> 
</form>
    
    <div class="container">
        <h2>Items sélectionnées</h2>
        <ul id="items-table-list"></ul>

        
    </div>
    
{% include "navbar.html" %}

</body>
</html>
{% endblock %}