{% extends "base.html" %}

{% block content %}
<html>
<head>
<title>Création d'une évaluation</title>
</head>
<body>
<button type="button" class="btn navbtn" onclick="window.location.href='/evaluations'">Retour</button>

<form action="/createEvaluations" method="POST">
    <div class="form-group">
        <label for="titreEvaluation">Titre :</label>
        <input type="text" class="form-control" id="titreEvaluation" name="titreEvaluation">
    </div>
    <div class="form-group">
        <label for="dateEvaluation">Date d'évaluation :</label>
        <input type="date" class="form-control" id="dateEvaluation" name="dateEvaluation">
    </div>
    <div class="form-group">
        <label for="coeffItem">Coefficient des items :</label>
        <input type="number" class="form-control" id="coeffItem" name="coeffItem">
    </div>
    <div class="form-group">
        <label for="coeffEval">Coefficient de l'évaluation :</label>
        <input type="number" class="form-control" id="coeffEval" name="coeffEval">
    </div>
    <div class="form-group">
        <label for="noteEval">Note de l'évaluation :</label>
        <input type="number" class="form-control" id="noteEval" name="noteEval">
    </div>
    <div class="form-group">
        <label for="noteItem">Note des items :</label>
        <input type="number" class="form-control" id="noteItem" name="noteItem">
    </div>

    <title>Compétences</title>
    <script type="text/javascript">
        function createList(tableId) {
            const table = document.getElementById(tableId);
            const checkboxes = table.querySelectorAll('input[type="checkbox"]');
            const selectedItems = [];

            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    const row = checkbox.parentNode.parentNode;
                    const item = {
                        id: row.cells[0].textContent,
                        titre: row.cells[1].textContent,
                        contenu: row.cells[2].textContent
                    };
                    selectedItems.push(item);
                }
            });

            const listId = tableId + "-list";
            const listContainer = document.getElementById(listId);
            listContainer.innerHTML = ""; // Réinitialiser la liste à chaque appel

            selectedItems.forEach(function(item) {
                const listItem = document.createElement("li");
                listItem.textContent = item.titre;
                listContainer.appendChild(listItem);
            });
        }

        function toggleTable(tableId) {
            const table = document.getElementById(tableId);
            table.style.display = table.style.display === "none" ? "block" : "none";
        }

        function searchTable() {
            const input = document.getElementById("search-input").value.toLowerCase();
            const tableRows = document.querySelectorAll("#activites-table tbody tr, #cp-table tbody tr, #items-table tbody tr, #modules-table tbody tr");

            tableRows.forEach(function(row) {
                const text = row.textContent.toLowerCase();
                if (text.includes(input)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        }
    </script>
    <div class="container">
        <h1>Liste des compétences </h1>
        <input type="text" id="search-input" class="form-control" placeholder="Rechercher..." oninput="searchTable()">
        <h2>Liste des activités <button type="button" class="btn btn-primary" onclick="toggleTable('activites-table')">Cacher/Montrer</button></h2>
        <table id="activites-table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Résumé</th>
                    <th>Sélectionner</th>
                </tr>
            </thead>
            <tbody>
                {% for activite in activites %}
                <tr>
                    <td>{{ activite.id }}</td>
                    <td>{{ activite.titre }}</td>
                    <td>{{ activite.contenu }}</td>
                    <td><input type="checkbox" onchange="createList('activites-table')" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Liste des CP <button type="button" class="btn btn-primary" onclick="toggleTable('cp-table')">Cacher/Montrer</button></h2>
        <table id="cp-table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Sélectionner</th>
                </tr>
            </thead>
            <tbody>
                {% for cp in Cps %}
                <tr>
                    <td>{{ cp.id }}</td>
                    <td>{{ cp.titre }}</td>
                    <td>{{ cp.contenu }}</td>
                    <td><input type="checkbox" onchange="createList('cp-table')" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Liste des items <button type="button" class="btn btn-primary" onclick="toggleTable('items-table')">Cacher/Montrer</button></h2>
        <table id="items-table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Sélectionner</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id}}</td>
                    <td>{{ item.titre }}</td>
                    <td>{{ item.contenu }}</td>
                    <td><input type="checkbox" onchange="createList('items-table')" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Liste des modules <button type="button" class="btn btn-primary" onclick="toggleTable('modules-table')">Cacher/Montrer</button></h2>
        <table id="modules-table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Sélectionner</th>
                </tr>
            </thead>
            <tbody>
                {%for module in modules %}
                <tr>
                    <td>{{ module.id }}</td>
                    <td>{{ module.titre }}</td>
                    <td>{{ module.contenu }}</td>
                    <td><input type="checkbox" onchange="createList('modules-table')" /></td>
                </tr>
                {%endfor %}
            </tbody>
        </table>
    </div>
    <input type="hidden" name="activites" id="selected-activites-input">
    <input type="hidden" name="cps" id="selected-cps-input">
    <input type="hidden" name="items" id="selected-items-input">
    <input type="hidden" name="modules" id="selected-modules-input">

    <button type="submit" class="btn btn-primary">Envoyer</button>
    
</form>
    
    <div class="container">
        <h2>Listes sélectionnées</h2>
        <h3>Liste des activités</h3>
        <ul id="activites-table-list"></ul>

        <h3>Liste des CP</h3>
        <ul id="cp-table-list"></ul>

        <h3>Liste des items</h3>
        <ul id="items-table-list"></ul>

        <h3>Liste des modules</h3>
        <ul id="modules-table-list"></ul>
    </div>
    
{% include "navbar.html" %}

</body>
</html>
{% endblock %}
