{% extends "base.html" %}

{% block content %}
<html>
<head>
<title>Formations</title>
</head>
<body>
    <div class="container">
        <h1>Liste</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>resume</th>
                    {% if bloc != 'formation' %}
                        <th>id_FK</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ objBloc.id }}</td>
                    <td>{{ objBloc.titre }}</td>
                    <td>{{ objBloc.contenu }}</td>
                    {% if bloc != 'formation' %}
                        <td>{{ objBloc.idFK }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% include "navbar.html" %}
</body>
</html>
{% endblock %}