{% extends "base.html" %}

{% block content %}

<img id='img_fondes' src="{{ url_for('static', filename='images/eval_fondes.png') }}" alt="fondespierre">

<h2>{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}</h2>

<form action = "http://localhost:5000/verifyLogin" method = "GET">
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudoId" name="pseudo" aria-describedby="pseudoHelp" placeholder="jami" value="jami">
        <small id="pseudoHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="James2023" value="james2023">
        <small id="passwordHelp" class="form-text text-muted"></small>
    </div>
    <button type="submit" class="btn btn-info">OK</button>
</form>
<br><br>
<p>Première visite ? <a id="mdplink" href="/updatePass">modifier le mot de passe</a></p>
{% endblock %}