{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
<h1 class="admin_title">MODIFICATION {{ table|upper }}</h1><br>
<div class="container">
    <form action="/updateBloc/{{ table }}/{{ objBloc.id }}" method="POST">
        <table class="table table-bordered border-primary">
            <thead id="thead">
                <tr id="{{ objBloc.id }}">
                    <th class="objBlocTitre" contenteditable="true">{{ objBloc.titre }}</th>
                    <th class="objBlocContenu" contenteditable="true">{{ objBloc.contenu }}</th>
                </tr>
            </thead>
            {% if objList %}
            <tbody>
                {% for obj in objList %}
                    <tr id="{{ obj.id }}">
                        <td class="objId" style="display: none;">{{ obj.id }}</td>
                        <td class="objTitre" contenteditable="true">{{ obj.titre }}</td>
                        <td class="objContenu" contenteditable="true">{{ obj.contenu }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
        <!-- Inputs cachés pour les th -->
        <input class="inputBlocTitre" type="hidden" name="objBlocTitre" value="">
        <input class="inputBlocContenu" type="hidden" name="objBlocContenu" value="">

        <!-- Inputs cachés pour les td de la liste -->
        {% for obj in objList %}
            <input class="inputObjIds" type="hidden" name="objIds[]" value="{{ obj.id }}">
            <input class="inputObjTitres" type="hidden" name="objTitres[]" value="{{ obj.titre }}">
            <input class="inputObjContenus" type="hidden" name="objContenus[]" value="{{ obj.contenu }}">
        {% endfor %}
        <div class="optnav">
            <button type="button" class="btn navbtn" onclick="window.location.href='/accueil'">Retour</button>
            <button type="submit" class="btn navbtn">Valider</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let thead = document.getElementById('thead');
        let section = "{{ section}}";
        if (section === '1') {
            thead.classList.add('becare')
        } else if (section === '2') {
            thead.classList.add('begreen')
        } else if (section === '3') {
            thead.classList.add('beweb')
        } else {
            thead.classList.add('bepro')
        }
    });
    // Écoute du submit du formulaire
    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault();
        
        // Récupération des valeurs modifiées des éléments th et td
        let objBlocTitre = document.querySelector(".objBlocTitre").innerText;
        let objBlocContenu = document.querySelector(".objBlocContenu").innerText;

        // Récupération des valeurs des listes objIds, objTitres, et objContenus
        let objIds = [];
        let objTitres = [];
        let objContenus = [];

        if (document.querySelector(".objId")) {    
            let objIdElements = document.querySelectorAll(".objId");
            let objTitreElements = document.querySelectorAll(".objTitre");
            let objContenuElements = document.querySelectorAll(".objContenu");

            // Récupération des valeurs
            for (let i = 0; i < objIdElements.length; i++) {
                objIds.push(objIdElements[i].innerText);
                objTitres.push(objTitreElements[i].innerText);
                objContenus.push(objContenuElements[i].innerText);

                // Maj des valeurs récupérées dans les inputs cachés
                document.querySelector(".inputObjIds").value = JSON.stringify(objIds);
                document.querySelector(".inputObjTitres").value = JSON.stringify(objTitres);
                document.querySelector(".inputObjContenus").value = JSON.stringify(objContenus);
            }
        }

        // Maj des valeurs récupérées dans les inputs cachés
        document.querySelector(".inputBlocTitre").value = objBlocTitre;
        document.querySelector(".inputBlocContenu").value = objBlocContenu;

        this.submit();
    });

</script>

{% endblock %}