<script>
let role = "{{ role }}"
let section = "{{ section }}";
let buttons = document.getElementsByTagName('button');
document.addEventListener("DOMContentLoaded", function() {
    let navbar = document.getElementById('navbar');
    let menuButton = document.getElementById('menuButton');
    // Valeur de la variable Jinja "section"

    menuButton.addEventListener('click', function() {
        navbar.classList.toggle('show');
    });
    // ajout des classes aux boutons en fonction de la section
    if (section === '1') {
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.add('becare');
        }
    } else if (section === '2') {
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.add('begreen');
        }
    } else if (section === '3') {
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.add('beweb');
        }
    } else {
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.add('bepro');
        }
    }
})
</script> 
{% if role =='apprenant' and apprenant %}
<script>
        let id_formation = "{{ apprenant.formation }}";

        window.addEventListener("load", (event) => {
            fetch('/apprenantActivite/' + id_formation)
            .then(response => response.json())
            .then(data => {
                
                data.activites.forEach(activite => {
                    const li = document.createElement('li');
                    const btn = document.createElement('button');
                    li.appendChild(btn);
                    btn.innerHTML = activite.titre;
                    btn.id = activite.id;
                    btn.classList.add('btn', 'btn-block', 'btnav', 'acts');
                    document.getElementById('activity').appendChild(li)

                    acts = document.querySelectorAll('.acts')
                    console.log(acts)
                    console.log(btn.id)

                   acts.forEach(act => {
                        act.addEventListener("click", function(){
                            window.location.href="/cpByApprenant/"+btn.id
                    })
                   })
                });
                document.getElementById('activity').insertAdjacentHTML('beforeend', '<li><button class="btn btn-block btndec" onclick="window.location.href=\'/logout\'">DECONNEXION</button></li>');

                    if (section === '1') {
                        for (let i = 0; i < buttons.length; i++) {
                            buttons[i].classList.add('becare');
                        }
                    } else if (section === '2') {
                        for (let i = 0; i < buttons.length; i++) {
                            buttons[i].classList.add('begreen');
                        }
                    } else if (section === '3') {
                        for (let i = 0; i < buttons.length; i++) {
                            buttons[i].classList.add('beweb');
                        }
                    } else {
                        for (let i = 0; i < buttons.length; i++) {
                            buttons[i].classList.add('bepro');
                        }
                    }
                            
        })

        
        });   
</script>
{% endif %}

<div id="navigation">
    <button id="menuButton" class="btn btn-block">Menu</button>
    <nav id="navbar" class="navbar navbar-inverse">
        <ul id ="activity" class="nav navbar-nav">
            {% if role == 'administrateur' %}
                <li><button class="btn btn-block btnav" onclick="window.location.href='/accueil'">ACCUEIL</button></li>
                <li><button class="btn btn-block btnav" onclick="window.location.href='/create'">CREATION UTILISATEUR</button></li>
                <li><button class="btn btn-block btnav" onclick="window.location.href='/createFormation'">CREATION</button></li>
                <li><button class="btn btn-block btnav" onclick="window.location.href='/selection'">SELECTION</button></li>
                <li>BILAN</li>
                <li>COMPETENCE</li>
                <li><button class="btn btn-block btnav" onclick="window.location.href='/evaluations'">EVALUATION</button></li>
                <li>LISTE ELEVES</li>
                <li><button class="btn btn-block btndec" onclick="window.location.href='/logout'">DECONNEXION</button></li>
            {% elif role == 'formateur' %}
                <li><button class="btn btn-block btnav" onclick="window.location.href='/accueil'">ACCUEIL</button></li>
                <li>BILAN</li>
                <li>COMPETENCE</li>
                <li><button class="btn btn-block btnav" onclick="window.location.href='/evaluations'">EVALUATION</button></li>
                <li>LISTE ELEVES</li>
                <li><button class="btn btn-block btndec" onclick="window.location.href='/logout'">DECONNEXION</button></li>
            {% elif role == 'apprenant' %}
                <li><button class="btn btn-block btnav" onclick="window.location.href='/accueil'">ACCUEIL</button></li>
                <li><button class="btn btn-block btnav" onclick="window.location.href='/profil'">MON PROFIL</button></li>
            {% elif role == 'salarie' %}
                <li><button class="btn btn-block btnav" onclick="window.location.href='/accueil'">ACCUEIL</button></li>
                <li>PROMO 1</li>
                <li>PROMO 2</li>
                <li>PROMO 3</li>
                <li>PROMO 4</li>
                <li>PROMO 5</li>
                <li>PROMO 6</li>
                <li><button class="btn btn-block btndec" onclick="window.location.href='/logout'">DECONNEXION</button></li>
            {% endif %}
        </ul>
    </nav>
</div>