{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}
<h1 class="admin_title">SELECTION</h1>
<form id="updateFormation" action="/selectBloc" method = "GET">
    <div class="form-group">
        <label for="rechercher">RECHERCHER</label>
        <div class="add_act">
            <input type="text" class="form-control form_title" name="form_title" aria-describedby="formTitleHelp" placeholder="...">
            <small class="form-text text-muted formTitleHelp"></small>
            <button type="submit" class="btn plusbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</form>
<form id="updateBloc" action="" method = "GET">
    <div class="form-group">
        <label for="select_formation">SELECTION FORMATION</label>
        <select name="sformation" class="form-control" id="sformation">
            <option value="" selected disabled>Choisissez une formation</option>
            <option value="1">formation1</option>
            <option value="2">formation2</option>
            <option value="3">...</option>
        </select>
    </div>
    <div class="form-group">
        <label for="select_activite">SELECTION ACTIVITE TYPE</label>
        <select name="sactivite" class="form-control" id="sactivite">
            <option value="" selected disabled>Choisissez une activite</option>
            <option value="1">activite1</option>
            <option value="2">activite2</option>
            <option value="3">...</option>
        </select>
    </div>
    <div class="form-group">
        <label for="select_cp">SELECTION CP</label>
        <select name="scp" class="form-control" id="scp">
            <option value="" selected disabled>Choisissez une formation</option>
            <option value="1">cp1</option>
            <option value="2">cp2</option>
            <option value="3">...</option>
        </select>
    </div>
    <div class="form-group">
        <label for="select_module">SELECTION MODULE</label>
        <select name="smodule" class="form-control" id="smodule">
            <option value="" selected disabled>Choisissez un module</option>
            <option value="1">module1</option>
            <option value="2">module2</option>
            <option value="3">...</option>
        </select>
    </div>
    <div class="form-group">
        <label for="select_item">SELECTION ITEM</label>
        <select name="sitem" class="form-control" id="sitem">
            <option value="" selected disabled>Choisissez un item</option>
            <option value="1">item1</option>
            <option value="2">item2</option>
            <option value="3">...</option>
        </select>
    </div><br>
    <div class="optnav">
        <button type="submit" class="btn navbtn2" onclick="window.location.href='#'">MODIFIER</button>
        <button type="submit" class="btn navbtn2" onclick="window.location.href='#'">AJOUTER</button>
        <button type="submit" class="btn navbtn2" onclick="window.location.href='#'">SUPPRIMER</button>
    </div>
</form>

{% endblock %}